$my-font: 'Poppins', sans-serif;

body,
p,
span,
a {
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}
button {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  body,
  p,
  span,
  a {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  button {
    font-size: 1.7rem;
  }
}
