.fondo-one {
	background: $layer, url(../img/hero-slide/fondo.png);
	@include fondo;
}

.fondo-two {
	background: $layer, url(../img/hero-slide/manchester.jpg);
	@include fondo;
}

.fondo-three {
	background: $layer, url(../img/hero-slide/madrid.jpg);
	@include fondo;
}
