// FRAMEWORK //
@import "custom";

// GENERAL //
@import "typography";
@import "color";
@import "mixin";

// NAV & FOOTER //
@import "navbar";
@import "footer";

// INDEX //
@import "welcome";
@import "news";
@import "enviar";

// NEWS //
@import "messi";

// COMUNIDAD //
@import "comunidad";

// LIGAS //
@import "ligas";
@import "ligas-page";

// COMPETICIONES //
@import "competiciones";

// CONTACTO //
@import "contacto";

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: $my-font;

	a {
		color: $secundary;
		text-decoration: none;
		list-style: none;

		&:hover {
			color: $secundary;
			text-decoration: none;
			list-style: none;
		}
	}
}
